@import "tailwindcss";
@import "../shared/styles/tokens.css";
@import "../shared/styles/theme.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-gothic);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
